@media print {
    .no-print, .navbar {
        display:  none;
    }

    h2 {
        font-size:20px;
        margin-bottom:2px;
        line-height:22px;
    }

    h5 {
        font-size:14px;
        margin:2px;
        line-height:16px;
    }

    table{
        /*
        border-collapse:collapse;
        border: 1px solid black;
        width:50%;
        */
        text-align:right;
        font-size:12px;
    }

    table { page-break-inside:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-header-group }
    tfoot { display:table-footer-group }

    div.no-wrap {
        whitespace: nowrap;
    }

    #extra-print {
        display:block;
    }

    dl {
        float: left;
    }

    dl dd {
        display: block;
        margin: 0;
    }

    #table-wrapper table{
        page-break-inside:avoid;
    }

}
@media screen{
    #extra-print {
        display:none;
    }
}
