/*! project specific CSS goes here. */
#report-form label.control-label {
    font-weight: bold;
}
#report-form label.checkbox{
    white-space: nowrap;
    margin-left:0px;
    margin-right:10px;
}
#report-form hover {

}

ul.nav li.dropdown:hover > ul.dropdown-menu ,
ul.nav li.dropdown:hover > div.dropdown-menu {
    display: block;
    margin: 0;
}
textarea {
    width:100%;
}
.no-wrap {
    whitespace: nowrap;
}

.stripe{
    background-color: #f9f9f9;
}

.nav .form-horizontal .control-group ,
.nav .form-horizontal .control-group input {
    margin-bottom:0;
}

.nav .form-horizontal .control-label {
    width:60px;
}

.nav .form-horizontal .controls{
    margin-left:70px;
}

#table-wrapper table td
{
    padding-bottom:0;
    padding-top:0;
    border:0;
}

legend.small {
    margin-bottom:4px;
    font-size:16px;
    line-height:30px;
}
