{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'current-quarter' %}" title="Back to main site">TOHCC Rounding</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
