{% for rounding in roundings %}
<table class="table">
    <tbody>

        <tr><td class="span9" colspan="2"><legend>Rounding Response</legend></td></tr>
        <tr>
            <td class="span3" style="text-align:right"><strong style="text-align:right">Staff</strong></td>
            <td class="span9"> {{rounding.staff.name}}</td>
        </tr>

        <tr>
            <td class="span3" style="text-align:right"><strong style="text-align:right">Department</strong></td>
            <td class="span9">{{rounding.staff.department}}</td>
        </tr>

        <tr>
            <td class="span3" style="text-align:right"><strong style="text-align:right">Rounded By</strong></td>
            <td class="span9"> {{rounding.rounded_by_staff}} on {{rounding.rounded_on|date:"SHORT_DATE_FORMAT"}}</td>
        </tr>

        <tr>
            <td class="span3" style="text-align:right"><strong style="text-align:right">Working Well</strong></td>
            <td class="span9"><p>{% firstof rounding.working   "<ul><li><em>N/A</em></li></ul>"%}</p></td>
        </tr>

        <tr>
            <td class="span3" style="text-align:right"><strong style="text-align:right">Tools &amp; Equipment</strong></td>
            <td class="span9">{% firstof rounding.tools   "<ul><li><em>N/A</em></li></ul>"%}</td>
        </tr>

        <tr>
            <td class="span3" style="text-align:right"><strong style="text-align:right">Systems you want to improve and your ideas to fix them.</strong></td>
            <td class="span9">{% firstof rounding.systems  "<ul><li><em>N/A</em></li></ul>"%}</td>
        </tr>
        <tr>
            <td class="span3" style="text-align:right"><strong style="text-align:right">Quality & Safety issues discussed</strong></td>
            <td class="span9">{% firstof rounding.quality "<ul><li><em>N/A</em></li></ul>"%}</td>
        </tr>


        {% for rec in rounding.recognitions%}
            {% if forloop.first %}

                <tr>
                    <td class="span3" style="text-align:right"><h4>Recognitions</h4></td>
                </tr>
            {% endif %}

            <tr>
                <td class="span3" style="text-align:right"><strong>{% firstof rec.recognized.name_alt rec.recognized_other %}</strong></td>
                <td class="span9"><p>{{rec.reason}}</p></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
