<table class="table table-striped" id="summary-table">
    <thead>
        <tr>
            <th>Staff</th>
            <th>Supervisor</th>
            <th>Staff Type</th>
            <th>Recognized By</th>
            <th>Thank You<br/>Sent</th>
            <th>Reason</th>
        </tr>
    </thead>
    <tbody>
        {% for rec in recognitions %}
            <tr>
                <td><div class="no-wrap">{% firstof rec.recognized.name rec.recognized_other %}</div></td>
                <td><div class="no-wrap">{% firstof rec.recognized.reports_to.name "N/A" %}</div></td>
                <td>{{rec.staff_type|title}}</td>
                <td>{{rec.rounding.staff.name}}</td>
                <td>{% if rec.thank_you_sent %}<i class="icon-check"></i>{% else %}<i class="icon-check-empty"></i>{% endif %}</td>
                <td>{{rec.reason}}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6"><em>No data available</em></td>
            </tr>
        {% endfor %}

    </tbody>

    <tfoot>
        <tr>
            <th>Staff</th>
            <th>Supervisor</th>
            <th>Staff Type</th>
            <th>Recognized By</th>
            <th>Thank You<br/>Sent</th>
            <th>Reason</th>
        </tr>
    </tfoot>
</table>
