<table class="table " id="stars-table">
    <thead>
        <tr>
            <th>Staff</th>
            <th>Reasons</th>
        </tr>
    </thead>
    <tbody>
        {% regroup recognitions by recognized as stars_list %}
        {% for star in stars_list %}
            {% for recognition in star.list %}
            <tr>
                {% if forloop.first %}
                <td rowspan="{{star.list|length}}"><i class="icon-star"></i> {{recognition.recognized.first_name}} {{recognition.recognized.last_name}}</td>
                {% endif %}
                <td class="{% if not forloop.counter|divisibleby:2 %}stripe{% endif %}">{{recognition.reason}}</td>
            </tr>
            {% endfor %}
        {% empty %}
            <tr>
                <td colspan="2"><em>No data available</em></td>
            </tr>
        {% endfor %}
    </tbody>

    <tfoot>
        <tr>
            <th>Staff</th>
            <th>Reason</th>
        </tr>
    </tfoot>
</table>
