<div class="row">
    <div class="span12">
        <table class="table table-striped" id="summary-table">
            <thead>
                <tr>
                    <th class="btn-success span4" colspan="2">Here's what we did</th>
                    <th class="btn-warning span4" colspan="2">Here's what we're working on</th>
                    <th class="btn-danger span4" colspan="2">We Can't address &mdash; Here's Why</th>
                </tr>
                <tr>
                    <th class="span1">Type</th>
                    <th class="span3">Description</th>
                    <th class="span1">Type</th>
                    <th class="span3">Description</th>
                    <th class="span1">Type</th>
                    <th class="span3">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for i1, i2, i3 in rows %}
                <tr>
                    <td class="span1">{{i1.type_display}}</td>
                    <td class="span3">
                        {{i1.description}}
                        {% if i1.comments %}
                        <br/>
                        <em>{{i1.comments }}</em>
                        {% endif %}
                    </td>
                    <td class="span1">{{i2.type_display}}</td>
                    <td class="span3">
                        {{i2.description}}
                        {% if i2.comments %}
                        <br/>
                        <em>{{i2.comments }}</em>
                        {% endif %}
                    </td>
                    <td class="span1">{{i3.type_display}}</td>
                    <td class="span3">
                        {{i3.description}}
                        {% if i3.comments %}
                        <br/>
                        <em>{{i3.comments }}</em>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6"><em>No data available</em></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
