{% if not instance.duplicate_of %}
    <input type="checkbox" value="{{instance.pk}}" class="input checkbox sli-select" />
{% else %}
    <form class="form form-inline" method="POST" action="{%url 'dedup' pk=instance.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-mini btn-primary">Split</button>
    </form>

{% endif %}
