<table class="table table-striped" id="summary-table">
    <thead>
        <tr>
            <th>Supervisor</th>
            <th># of Staff<br/>Rounded</th>
            <th>Active Staff<br/>in Unit</th>
            <th>Total<br/>Recognitions</th>
            <th>Thank You<br/>Notes Sent</th>
        </tr>
    </thead>
    <tbody>
        {% for row in  summary|slice:":-1" %}
            <tr>
                {% for data in row %}
                {% if forloop.first %}
                <td><div class="no-wrap">{{data}}</div></td>
                {% else %}
                <td>{{data}}</td>
                {% endif %}
                {% endfor %}
            </tr>
        {% empty %}
            <tr>
                <td colspan="5"><em>No data available</em></td>
            </tr>
        {% endfor %}

    </tbody>

    <tfoot>
        {% for row in  summary|slice:"-1:" %}
        <tr>
            {% for data in row %}
            <th>{{data}}</th>
            {% endfor %}
        </tr>
        {% endfor %}
    </tfoot>
</table>
