{% extends 'base.html' %}
{% block title %}Rounding{% endblock title %}
{% block page_title %}Rounding{% endblock page_title%}
{% block extra_css %}
    <link href="{{ STATIC_URL }}datepicker/css/datepicker.css" rel="stylesheet">
{% endblock extra_css %}
{% block extra_js %}
    <script type="text/javascript">

        window.QuarterDetails =  {{dt_data|safe}};
        window.QuarterDetails.quarter = {{object.pk}};

    </script>
    <script src="{{ STATIC_URL }}js/roundingquarter.js"></script>
{% endblock extra_js %}

{% block content %}

{% if  not request.user.is_staff %}

<div class="row">
    <div class="span12">
        Please login before viewing rounding quarters.
    </div>
</div>
{% else %}
<div class="row ">
    <div class="span12">
        <h2>Choose a Rounding Quarter</h2>
        <ul>
            {% for o in object_list %}
            <li><a href="{% url 'rounding-quarter' pk=o.pk %}">{{o}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% if is_paginated %}

<div class="row">
    <div class="span6 ">
        <div class="pagination">


            <ul>

                {% if page_obj.has_previous %}
                    <li><a href="{% url 'rounding-quarters' %}?page={{ page_obj.previous_page_number }}">Older</a></li>
                {% endif %}

                {% for i in paginator.page_range %}
                    {% if page_obj.has_next %}
                    <li {% if page_obj.number == i %}class="disabled" {% endif %}><a href="{% url 'rounding-quarters' %}?page={{i}}">{{i}}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li><a href="{% url 'rounding-quarters' %}?page={{ page_obj.next_page_number }}">Newer</a></li>
                {% endif %}

            </ul>


        </div>
    </div>
</div>

{% endif %}

{% endif %}
{% endblock content %}

