{% extends 'base.html' %}
{% block title %}Rounding{% endblock title %}
{% block page_title %}Rounding{% endblock page_title%}
{% block extra_css %}
    <link href="{{ STATIC_URL }}datepicker/css/datepicker.css" rel="stylesheet">
{% endblock extra_css %}
{% block extra_js %}
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/moment.min.js"></script>
    <script src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>
    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="{{STATIC_URL}}select2/select2.min.js"></script>
    <script src="{{ STATIC_URL }}js/survey.js" ></script>
{% endblock extra_js %}

{% block content %}

{% if  not request.user.is_staff %}
<div class="row">
    <div class="span12">
        Please login before beginning rounding.
    </div>
</div>
{% else %}

<div class="row">
    <div class="span12">
        <form id="report-form" class="form form-horizontal" method="post">
            {% csrf_token %}

            <legend class="small span5 pull-left">Rounding</legend>
            <legend class="small span6 pull-right">Previous</legend>
            {% for field in form %}

            <div class="row">
                <div class="span6">

                    {% if field.html_name == "tools" %}
                    <legend class="small">Stop Light Questions</legend>
                    {% endif %}
                    <div class="control-group {% if field.errors %}error{% endif %}">
                        <label class="control-label" for="{{field.html_name}}">
                            {{field.label}}
                            {% if field.field.required %}*{% endif %}
                            {% if field.html_name  in  add_more_fields %}
                            <a title="Add another item" href="#" class="add-sli"><i class="icon-plus-sign"></i></a>
                            {% endif %}
                        </label>
                        <div class="controls {% if field.html_name  in  add_more_fields %}add-more-wrapper{% endif %}">

                            {% if field.html_name  in  add_more_fields %}
                            <textarea class="multiple {{field.html_name}}"></textarea>
                                {{field.as_hidden}}
                            {% else %}
                                {{field}}
                            {% endif %}

                            <br/>
                            <em>{{field.help_text}}</em>
                            {% for error in field.errors %}
                                <span class="help-block">{{error}}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {% for p in prev %}
                <div class="span3">
                    {% if field.html_name == "roundingquarter" %}
                        <label class="control-label">{{p}}</label>
                    {% elif field.html_name == "working" %}
                        <p>{% firstof p.working "<em>N/A</em>"%}</p>
                    {% elif field.html_name == "tools" %}
                        <p>{% firstof p.tools "<em>N/A</em>"%}</p>
                    {% elif field.html_name == "systems" %}
                        <p>{% firstof p.systems "<em>N/A</em>"%}</p>
                    {% elif field.html_name == "quality" %}
                        <p>{% firstof p.quality "<em>N/A</em>"%}</p>
                    {% endif%}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <hr/>
            <div class="row">
                <div class="span6">
                    <h3>Recognition </h3>
                    {{formset.management_form}}
                    <div id="form_set">
                        {% for form in formset.forms %}
                            {% for error in form.non_field_errors %}
                            <div class="control-group error">
                                <span class="help-block error">{{error}}</span>
                            </div>
                            {% endfor %}
                            {{form.id}}

                            {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                            {% endfor %}
                            {% for field in form.visible_fields %}
                            <div class="control-group {% if field.errors %}error{% endif %}">
                                <label class="control-label" for="{{field.html_name}}">{{field.label}}{% if field.field.required %}*{% endif %}</label>
                                <div class="controls">
                                    {{field}}
                                    <br/>
                                    <em>{{field.help_text}}</em>
                                    {% for error in field.errors %}
                                        <span class="help-block">{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}

                            <hr/>
                        {% endfor %}
                    </div>
                    <div id="empty_form" style="display:none">

                        {% for hidden in formset.empty_form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}

                        {% for field in formset.empty_form.visible_fields %}
                        <div class="control-group {% if field.errors %}error{% endif %}">
                            <label class="control-label" for="{{field.html_name}}">{{field.label}}{% if field.field.required %}*{% endif %}</label>
                            <div class="controls">
                                {{field}}
                                <br/>
                                <em>{{field.help_text}}</em>
                                {% for error in field.errors %}
                                    <span class="help-block">{{error}}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                        <hr/>
                    </div>
                </div>
            </div>

            <a class="btn" id="add_more"><i class="icon-plus-sign"></i> Add A Recognition</a>
            <hr/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


{% endif %}
{% endblock content %}

