{% extends 'base.html' %}
{% block title %}Rounding{% endblock title %}
{% block page_title %}Rounding{% endblock page_title%}
{% block extra_css %}
    <link href="{{ STATIC_URL }}datepicker/css/datepicker.css" rel="stylesheet">
{% endblock extra_css %}
{% block extra_js %}
    <script type="text/javascript">

        window.QuarterDetails =  {{dt_data|safe}};
        window.QuarterDetails.quarter = {{object.pk}};

    </script>
    <script src="{{ STATIC_URL }}js/roundingquarter.js"></script>
{% endblock extra_js %}

{% block content %}

{% if  not request.user.is_staff %}

<div class="row">
    <div class="span12">
        Please login before viewing rounding quarter details.
    </div>
</div>
{% else %}
<div class="row ">
    <div class="span12">
        <h2>{{object}} Details</h2>
        <table class="table table-striped" id="rq-table">
            <thead>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Reports To</th>
                    <th>Department</th>
                    <th>Status</th>
                    <th>Rounded <br/>This Quarter</th>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Reports To</th>
                    <th>Department</th>
                    <th>Status</th>
                    <th>Rounded <br/>This Quarter</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

            <tfoot>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Reports To</th>
                    <th>Department</th>
                    <th>Status</th>
                    <th>Rounded <br/>This Quarter</th>
                </tr>
            </tfoot>
        </table>

    </div>
</div>


{% endif %}
{% endblock content %}

