{% extends 'base.html' %}
{% block title %}Rounding{% endblock title %}
{% block page_title %}Rounding Summary Report{% endblock page_title%}
{% block extra_css %}
    <link href="{{ STATIC_URL }}datepicker/css/datepicker.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/print.css" rel="stylesheet">
{% endblock extra_css %}
{% block extra_js %}
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/moment.min.js"></script>
    <script src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}select2/select2.min.js"></script>
    <script src="{{ STATIC_URL }}js/stoplightstatic.js" ></script>
{% endblock extra_js %}

{% block content %}

<div class="row ">
    <div class="span12">
        <div class="no-print">
            <h2> Stop Light Report for {{quarter.name}} <a id="print" href="#" class="btn btn-primary pull-right"><i class="icon-print"></i> Print</i></a></h2>
            <h5>{{department}}</h5>
            <p>

            </p>
        </div>

        <div id="extra-print" >
            <img style="float:left; margin-right:20px; width:60px;"src="{{ STATIC_URL}}img/toh.png"/>
            <h2> Stop Light Report for {{quarter.name}}</h2>
            <h5>{{department}}</h5>
            <p>
                Generated {% now "D d M Y h:iA" %} By {% if user.first_name %}{{user.first_name}} {{user.last_name}}{%else%}{{user.username}}{%endif%}
            </p>
        </div>
    </div>
</div>

<div id="stoplight-table-wrapper">
    {{table}}
</div>

{% endblock content %}

