{% extends 'base.html' %}
{% block title %}Rounding{% endblock title %}
{% block page_title %}Rounding{% endblock page_title%}
{% block extra_css %}
    <link href="{{ STATIC_URL }}datepicker/css/datepicker.css" rel="stylesheet">
{% endblock extra_css %}
{% block extra_js %}
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/moment.min.js"></script>
    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="{{STATIC_URL}}select2/select2.min.js"></script>
{% endblock extra_js %}

{% block content %}

{% if  not request.user.is_staff %}

<div class="row">
    <div class="span12">
        Please login before beginning rounding.
    </div>
</div>
{% else %}

<div class="row">
    <div class="span12">
        <h3>Update Stop Light Item</h3>
        <hr/>
        {% if object.duplicate_of %}
            <p>
                This item has been marked a duplicate of <a href="{% url 'stop-light-item' pk=object.pk %}">item  {{object.duplicated_of.pk}}</a>.
                To de-duplicate this item click the button below.
            </p>
            <form class="form form-inline" method="POST" action="{%url 'dedup' pk=object.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-mini btn-primary">De-duplicate</button>
            </form>
        {% endif %}

        <form {% if object.duplicate_of %}disabled="disabled"{% endif %} id="stoplight-form" class="form form-horizontal" method="post">
            {% csrf_token %}
            <div class="control-group {% if form.non_field_errors %}error{% endif %}">
                <div class="controls">
                    {% for error in form.non_field_errors %}
                        <span class="help-block">{{error}}</span>
                    {% endfor %}
                </div>
            </div>

            {% for field in form %}

            <div class="control-group {% if field.errors %}error{% endif %}">
                <label class="control-label" for="{{field.html_name}}">{{field.label}}{% if field.field.required %}*{% endif %}</label>
                <div class="controls">
                    {{field}}
                    <br/>
                    <em>{{field.help_text}}</em>
                    {% for error in field.errors %}
                        <span class="help-block">{{error}}</span>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <hr/>
            {% if not object.duplicate_of %}
            <button type="submit" class="btn btn-primary">Update</button>
            {% endif %}
        </form>
    </div>
</div>


{% endif %}
{% endblock content %}

