{% extends 'base.html' %}
{% block title %}Rounding{% endblock title %}
{% block page_title %}Rounding Summary Report{% endblock page_title%}
{% block extra_css %}
    <link href="{{ STATIC_URL }}datepicker/css/datepicker.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/print.css" rel="stylesheet">
{% endblock extra_css %}
{% block extra_js %}
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/moment.min.js"></script>
    <script src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}select2/select2.min.js"></script>
    <script src="{{ STATIC_URL }}js/stoplight.js" ></script>
{% endblock extra_js %}

{% block content %}

<div class="row ">
    <div class="span12">
        <div class="no-print">
            <h2>Stop Light Report</h2>
            <h5>All Departments</h5>

            <p>Select a quarter and Department to generate a report for:

                <select class="input input-large" id="quarter-choice">
                    {% for q in quarters %}
                    <option value="{{q.pk}}" {% if q.default %}selected=selected{%endif%}>{{q}}</option>
                    {% endfor %}
                </select>
                <select class="input input-large" id="department-choice">
                    <option selected value="all">All</option>
                    {% for d in departments %}
                    <option value="{{d.pk}}">{{d}}</option>
                    {% endfor %}
                </select>

                <span class="pull-right">
                    <a id="permalink" href="#" class=""><i class="icon-link"></i> Permalink</i></a>
                    &nbsp;
                    <a id="print" href="#" class="btn btn-primary "><i class="icon-print"></i> Print</i></a>
                </span>
            </p>
        </div>

        <div id="extra-print" >
            <img style="float:left; margin-right:20px; width:60px;"src="{{ STATIC_URL}}img/toh.png"/>
            <h2>Stop Light Report</h2>
            <h5>All Departments</h5>
            <p>
                Generated {% now "D d M Y h:iA" %} By {% if user.first_name %}{{user.first_name}} {{user.last_name}}{%else%}{{user.username}}{%endif%}
            </p>
            <hr/>
        </div>
    </div>
</div>

<div id="stoplight-table-wrapper">
    {{stoplight_table}}
    <table>
        <tr>
            <em>Loading ...</em>
        </tr>
    </table>
</div>

{% endblock content %}

