{% extends 'base.html' %}
{% block title %}Rounding{% endblock title %}
{% block page_title %}Rounding Summary Report{% endblock page_title%}
{% block extra_css %}
    <link href="{{ STATIC_URL }}datepicker/css/datepicker.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/print.css" rel="stylesheet">
{% endblock extra_css %}
{% block extra_js %}
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/moment.min.js"></script>
    <script src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>
    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="{{STATIC_URL}}select2/select2.min.js"></script>
    <script type="text/javascript">


        window.StopLightItems =  {
            quarters : {{quarters|safe}},
            types : {{types|safe}},
            status: {{status|safe}}
        };


    </script>
    <script src="{{ STATIC_URL }}js/stoplightitems.js"></script>
{% endblock extra_js %}

{% block content %}

{% if  not request.user.is_staff %}

<div class="row">
    <div class="span12">
        Please login before viewing stop light items.
    </div>
</div>
{% else %}
<div class="row ">
    <div class="span12">
        <h2>Stop Light Items</h2>
        <form method="POST" id="duplicate-form" class="form form-inline pull-right" style="display:none" action="{%url 'stop-light-item-duplicate'%}">
            {% csrf_token %}
            <input name="duplicates" id="duplicates" type="hidden" value=""/>
            <button type="submit" class="btn btn-primary">Mark Selected as Duplicates</button>
        </form>
        <table class="table table-striped" id="sli-table">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Suggested</br>In Quarter</th>
                    <th>Suggestion Type</th>
                    <th>Status</th>
                    <th>Quarter<br/>Completed</th>
                    <th>Description</th>
                    <th>Votes</th>
                    <th>View</th>
                </tr>
                <tr>
                    <th>Select</th>
                    <th>Suggested</br>In Quarter</th>
                    <th>Suggestion Type</th>
                    <th>Status</th>
                    <th>Quarter<br/>Completed</th>
                    <th>Description</th>
                    <th>Votes</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

            <tfoot>
                <th>Select</th>
                <th>Suggested</br>In Quarter</th>
                <th>Suggestion Type</th>
                <th>Status</th>
                <th>Quarter<br/>Completed</th>
                <th>Description</th>
                <th>Votes</th>
                <th>View</th>
            </tfoot>
        </table>

    </div>
</div>


{% endif %}
{% endblock content %}

