{% load js %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TOHCC Rounding :: {% block title %}Home{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    {% block responsive %}
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
    {% endblock responsive %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{STATIC_URL}}js/html5.js"></script>
    <![endif]-->

    <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">


    <!--[if IE 7]>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->

    <link href="{{ STATIC_URL }}easytables/css/jquery.dataTables.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}easytables/css/jquery.dataTables.bootstrap.css" rel="stylesheet">

    <!-- This file store project specific CSS -->
    <link href="{{ STATIC_URL }}css/project.css" rel="stylesheet">


    <!-- Use this to quickly test CSS changes in a template,
        then move to project.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body {% block body_attr%}{%endblock%}>
      {% block navbar %}

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">TOHCC Rounding</a>
            <div class="nav-collapse collapse">
                <ul class="nav">

                    {% if request.user.is_staff %}
                    <li><a href="{% url "current-quarter" %}" title="Current Quarter Rounding Status">Current Quarter</a></li>
                    <li><a href="{% url "rounding-quarters" %}" title="View Previous Quarter Roundings">Previous Quarters</a></li>
                    <li><a href="{% url 'stop-light-items' %}">Stoplight Items</a></li>
                    {% endif %}

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Reports <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {% if request.user.is_staff %}
                            <li><a href="{% url "rounding-summary" %}" title="Generate a Rounding Summary Report"><i class="icon-file"></i> Rounding Summary</a></li>
                            <li><a href="{% url "raw-response" %}" title="Generate Raw Rounding Response Data Report"><i class="icon-th-list"></i> Raw Rounding Responses</a></li>
                            {% endif %}
                            <li><a href="{% url "stop-light" %}" title="Generate StopLight Report"><i class="icon-stop"></i> Stop Light Report</a></li>
                            {% if request.user.is_staff %}
                            <li><a href="{% url "recognition" %}" title="Generate a Recognition Report"><i class="icon-thumbs-up"></i> Recognition Report</a></li>
                            {% endif %}
                            <li><a href="{% url "recognition-stars" %}" title="Generate Recognition Stars Report"><i class="icon-star"></i> Recognition Stars</a></li>
                        </ul>
                    </li>

                </ul>
                {% if request.user.is_staff %}
                    <ul class="nav pull-right">
                        <li class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {{request.user}} <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'admin:index' %}"><i class="icon-cog"></i> Admin</a></li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                {% else %}

                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
                        <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                            <form id="#nav-login" class="form-horizontal" accept-charset="UTF-8" method="post" action="{% url 'django.contrib.auth.views.login' %}?next={{request.path}}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{request.path}}" />
                                <div class="control-group">
                                    <label class="control-label"for="username">Username</label>
                                    <div class="controls">
                                        <input id="id_username" name="username" style="margin-bottom: 5px;" type="text" size="30" placeholder="Username"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label"for="password">Password</label>
                                    <div class="controls">
                                        <input id="id_password" name="password" style="margin-bottom: 5px;" type="password" size="30" placeholder="Password"/>
                                    </div>
                                </div>
                                <input class="btn btn-primary" style="clear: left; width: 100%; font-size: 13px;" type="submit" name="commit" value="Sign In" />
                            </form>
                        </div>
                    </li>
                </ul>


                {% endif %}
            </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    {% endblock navbar %}
    <div class="container">

    {% for message in messages %}
        <div class="alert fade in {% if message.tags %} alert-{{ message.tags }}{% endif %}">
            <a class="close" href="#" data-dismiss="alert">&times;</a>
            {{ message }}
        </div>
    {% endfor %}

      {% block content %}
        <p>Base Rounding Template</p>
      {% endblock content %}

    </div> <!-- /container -->

    <div class="row">
        <div class="legal span8 offset2">
            TOHCC Rounding v{{VERSION}} | &copy; 2013 The Ottawa Hospital Cancer Center | <a title="Report an error or bug" href="{{BUG_REPORT_URL}}">Report a Bug or Request a Feature</a>
        </div>
    </div>
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    {% django_js jquery=false %}
    <script src="{{STATIC_URL}}js/underscore.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/knockout.js"></script>

    <script src="{{STATIC_URL}}easytables/js/jquery.dataTables.js"></script>
    <script src="{{STATIC_URL}}easytables/js/jquery.dataTables.columnFilter.js"></script>
    <script src="{{STATIC_URL}}easytables/js/jquery.dataTables.searchPlugins.js"></script>
    <script src="{{STATIC_URL}}easytables/js/jquery.dataTables.bootstrap.js"></script>
    <script src="{{STATIC_URL}}easytables/js/jquery.dataTables.sort.js"></script>

    <script src="{{ STATIC_URL }}js/project.js"></script>
    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
